
body{
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige;
}

h1{
    text-align: center;
    width: 100%;
    padding: 25px;
}

img{
    width: 600px;
    text-align: center;
}